target
target_vscode
target_frontend
testdata.db/*
history.txt
.DS_Store
.VSCodeCounter
.lsp
.pyenv
happenings.toml
happenings.db
scripts/testdata.db
scripts/history.txt
leptos-datatable/examples/basic/dist/
